.homeContainer {
  max-width: 1300px;
  margin: 0 auto;
}
.LoadingIcon {
  text-align: center;
}
.loadMore {
    text-align: center;
    margin: 2em auto;
    cursor: pointer;
  &__button {
    padding: 1em;
    border: 1px solid white;
    max-width: 100px;
    margin: 0 auto;
    border-radius: 3px;
  }
}
