@import "../../App.scss";

.home-container {
  max-width: 1300px;
  margin: auto;
  flex: 1 1 auto;
  position: relative;
  margin: 20px;
  box-sizing: border-box;
}

@media (min-width: 1300px) {
  .home-container {
    width: 1290px;
    margin: 0px auto;
  }
}
