.country-page {
  max-width: 1300px;
  margin: 10px;
}

.back {
  p {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 1em;
  }
}

.country-container {
  margin: 0 auto;
  img {
    max-width: 100%;
  }
  &__border {
    .border-countries {
      a {
        text-decoration: none;
      }
      p {
        border-radius: 3px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
        padding: 0.5em;
        box-sizing: border-box;
        text-align: center;
        margin-right: 3%;
      }
    }
  }
}

@media (min-width: 700px) {
}
