.country {
  overflow: hidden;
  border-radius: 5px;

  a {
    text-decoration: none;
  }
  &__image {
    aspect-ratio: 16/9;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;

    a {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  &__data {
    padding: 30px;
    p {
      font-weight: bold;
    }
    span {
      font-weight: 400;
      margin-left: 5px;
    }
  }
}

@media (min-width: 700px) {
  .country-container {
    display: flex;
    flex-wrap: wrap;
  }
  .country {
    &__image {
      object-fit: contain;
      background-position: center;
    }
  }
}
@media (min-width: 1000px) {
  .country-container {
  }
  .country {
  }
}

@keyframes loadAnimation {
  100% {
    opacity: 1;
    // transform: translateY(0%);
  }
}

.country {
  opacity: 0;
  // transform: translateY(10%);
  animation: loadAnimation 0.5s ease-in-out 0.5s forwards;

  &:nth-child(4n + 1) {
    animation: loadAnimation 0.5s ease-in 0.8s forwards;
  }
  &:nth-child(4n + 2) {
    animation: loadAnimation 0.5s ease-in 1s forwards;
  }
  &:nth-child(4n + 3) {
    animation: loadAnimation 0.5s ease-in 1.2s forwards;
  }
  &:nth-child(4n + 4) {
    animation: loadAnimation 0.5s ease-in 1.4s forwards;
  }
}
