.search {
  max-width: 1300px;
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
  // width: 100%;

  input {
    min-width: 300px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    text-align: center;
  }

  &__box {
    position: relative;
  }
  &__icon {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
}
