@import "./pages/Home/Home.scss";

$darkModeElements: #00000049;
$darkModeBackground: hsl(207, 26%, 17%);
$darkModeText: hsl(0, 0%, 98%);

$lightModeElements: hsl(0, 0%, 100%);
$lightModeBackground: hsl(0, 0%, 98%);
$lightModeText: hsl(200, 15%, 8%);

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input,
select {
  font-size: 16px;
}

body {
  // background-color: $darkModeBackground;
  background-image: linear-gradient(
    to right top,
    #3c157c,
    #3d1f6e,
    #3d2660,
    #3c2c53,
    #3a3145
  );
  // background-image: linear-gradient(
  //   to right top,
  //   #18252c,
  //   #1a272f,
  //   #1c2931,
  //   #1e2c34,
  //   #202e37
  // );

  svg {
    color: white;
  }
  h1,
  h2,
  h3,
  p {
    color: $darkModeText;
  }

  .element {
    background-color: $darkModeElements;
  }
  input,
  select,
  option,
  button {
    border: none;
    background-color: $darkModeElements;
    border-radius: 5px;
    color: $darkModeText;
    padding: 1em;
    box-sizing: border-box;
    font-size: 16px;

    &::placeholder {
      color: $darkModeText;
    }
  }
}

.underline-swipe {
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    width: 0px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    transition: 300ms;
  }

  &:hover:after {
    width: 100%;
  }

  &:not(:hover):after {
    right: 0;
    left: auto;
  }
}
